<html>
  <head>
    {% if title %}
    <title>{{ title }} - nerdstats</title>
    {% else %}
    <title>nerdstats</title>
    {% endif %}
    <link href='{{url_for('static', filename='css/style.css')}}' rel='stylesheet'>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <a href="/matchlist">Match History</a>
      <a href="/globalstats">Global Stats</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
